<% =begin %>
All of this belongs in its own file. Also, you should look into sharing your javascripts between files to clean up duplication.
<% =end %>

<script type="text/javascript">
  navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

  function handleGeolocation(position) {
    var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
    document.cookie = "lat_lng=" + escape(cookie_val);

    geocoder = new google.maps.Geocoder();
    latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

    var current_address;

    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        current_address = results[0].formatted_address;
      }
      else {
        alert("Geocoder failed due to: " + status);
      }
    });
    //var current_address = // google maps api call to look up address from lat lng
    $("#address").html("Current Location (approximatehdgf): " + current_address)
  };

  function handleNoGeolocation(error) {
    switch(error.code)
    {
      case error.PERMISSION_DENIED:
        return "User denied the request for Geolocation.";
      case error.POSITION_UNAVAILABLE:
        return "Location information is unavailable.";
      case error.TIMEOUT:
        return "The request to get user location timed out.";
      case error.UNKNOWN_ERROR:
        return "An unknown error occurred.";
    }
  }
</script>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
