<div class="btn-group">
  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
    <h5>Favorite Places <span class="badge"> <%=current_user.places.size%> <span class="caret"></span></h5>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% current_user.places.each do |place| %>
      <li><h5><%= link_to place.name, place, 'data-no-turbolink' => true %></h5></li>
    <% end %>
    <li class="divider"></li>
    <li><h6><%= link_to 'add new place', new_place_path %><h6></li>
  </ul>